$color-primary: #645e96;
$color-white: #F9F9FC;
$color-black: #0d0e10;
$color-seconday: #F09081;
$color-tertiary: #d17589;

// Fonts Moret, Cirka, Suisse Int'l

*{
    margin: 0;
    padding: 0;
}

header{
    padding: 1% 0%;
    background-color: $color-black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    h1{
        color: $color-white;
    }
    .header-links{
        a{
            color: $color-white;
        }
        .individual-header-links{
            text-decoration: none;
            margin: 0rem 0.6rem;
        }
    }
}




#my-intro{
    background-color: $color-white;
}


