@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Mouse+Memoirs&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Cormorant&family=Mouse+Memoirs&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Cormorant&family=Mouse+Memoirs&family=Roboto&family=Source+Sans+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
}

.header {
  padding: 1rem;
  background-color: #645e96;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Bodoni Moda", serif;
}
.header__h1 {
  color: #F9F9FC;
  font-size: 2rem;
}
.header__h2 {
  font-size: 3rem;
  padding-left: 9rem;
  color: #F9F9FC;
  font-family: "Bodoni Moda", serif;
  font-weight: 800;
}
.header__links {
  display: flex;
  align-items: center;
}
.header__link {
  text-decoration: none;
  color: #F9F9FC;
  margin: 0rem 1rem;
  font-size: 1.2rem;
}
.header__button {
  font-family: "Source Sans Pro", sans-serif;
  color: #0d0e10;
  font-weight: 700;
  border: 2px solid #3f1786;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #f8d583;
  font-size: 0.7rem;
}

.my-intro {
  background-color: #F9F9FC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #645e96;
  aspect-ratio: 2.5;
  padding-top: 4%;
}
.my-intro__info {
  width: 40%;
  font-family: "Cormorant", serif;
  margin: auto;
}
.my-intro__h3 {
  font-size: 150%;
  color: #f8d583;
}
.my-intro__h2 {
  color: #F9F9FC;
  font-size: 300%;
  font-weight: 900;
}
.my-intro__h2--job {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #b8557a;
  text-decoration-thickness: 35px;
}
.my-intro__button {
  font-family: "Source Sans Pro", sans-serif;
  color: #0d0e10;
  font-weight: 700;
  border: 2px solid #3f1786;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #f8d583;
  margin-top: 10px;
  font-size: 1rem;
}
.my-intro .my-intro__image {
  height: 100%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.my-intro__big-bubble {
  background-color: #3f1786;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 50% 50% 0% 48%;
  margin-left: 2%;
  margin-top: 5%;
  box-shadow: 0px 0px 3px 8px #3f1786;
  position: relative;
}
.my-intro__small-bubble {
  background-color: #f8d583;
  height: 20%;
  aspect-ratio: 1;
  margin-top: 3%;
  margin-left: -5%;
  border-radius: 50%;
  box-shadow: 0px 0px 3px 20px #f8d583;
}
.my-intro__omar {
  margin-left: -10%;
}
@media only screen and (max-width: 1350px) {
  .my-intro {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .my-intro .my-intro__info {
    width: 60%;
    margin-right: 40%;
    font-family: "Cormorant", serif;
  }
  .my-intro .my-intro__h3 {
    font-size: 100%;
    color: #f8d583;
  }
  .my-intro .my-intro__h2 {
    color: #F9F9FC;
    font-size: 200%;
    font-weight: 900;
  }
  .my-intro .my-intro__h2--job {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 25px;
  }
  .my-intro .my-intro__button {
    font-family: "Source Sans Pro", sans-serif;
    color: #0d0e10;
    font-weight: 700;
    border: 2px solid #3f1786;
    padding: 3px 7px;
    border-radius: 10px;
    background-color: #f8d583;
    margin-top: 10px;
    font-size: 12px;
  }
  .my-intro .my-intro {
    position: relative;
  }
  .my-intro .my-intro__image {
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .my-intro .my-intro__big-bubble {
    background-color: #3f1786;
    height: 90%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    border-radius: 50% 50% 0% 48%;
    margin-left: 5%;
    margin-top: 10%;
    box-shadow: 0px 0px 3px 8px #3f1786;
  }
  .my-intro .my-intro__omar {
    margin-top: 1%;
    margin-left: -5%;
  }
  .my-intro .my-intro__small-bubble {
    background-color: #f8d583;
    height: 20%;
    aspect-ratio: 1;
    margin-top: 3%;
    margin-left: 5%;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 20px #f8d583;
  }
}

.tech-skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  height: 28rem;
}
.tech-skills__h4 {
  margin-top: 4rem;
  margin-bottom: 3rem;
  font-size: 2rem;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #f8d583;
  text-decoration-thickness: 10px;
  font-family: "Bodoni Moda", serif;
}
.tech-skills__p {
  font-size: 1rem;
  margin: 0rem 20rem;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  color: grey;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 850px) {
  .tech-skills__p {
    font-size: 1rem;
    margin: 0rem 10rem;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    color: grey;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 620px) {
  .tech-skills {
    height: 60rem;
  }
  .tech-skills__p {
    font-size: 1rem;
    margin: 0rem 10rem;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    color: grey;
    margin-bottom: 2rem;
  }
}

h4 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 2rem;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #F09081;
  text-decoration-thickness: 10px;
  font-family: "Bodoni Moda", serif;
}

.technologies {
  display: flex;
  justify-content: space-around;
  padding: 0rem 6rem;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  height: 6rem;
}
.technologies__card {
  height: 5rem;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem 0rem;
}
.technologies__card img {
  height: 4rem;
  aspect-ratio: 1;
  margin: 1rem;
}
@media only screen and (max-width: 850px) {
  .technologies {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    padding: 0rem 6rem;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
    height: 16rem;
  }
  .technologies__card {
    height: 5rem;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0rem 2rem;
  }
  .technologies__card img {
    height: 4rem;
    aspect-ratio: 1;
    margin: 1rem;
  }
}
@media only screen and (max-width: 620px) {
  .technologies {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
    padding: 0rem 6rem;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
    height: 30rem;
  }
  .technologies__card {
    height: 5rem;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0rem 2rem;
  }
  .technologies__card img {
    height: 4rem;
    aspect-ratio: 1;
    margin: 1rem;
  }
}

.projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #645e96;
  padding: 5rem 0rem;
}
.projects__h4 {
  color: #F9F9FC;
  text-decoration-color: #b8557a;
  margin-bottom: 6rem;
}
.projects__container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 1450px) {
  .projects__container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width: 950px) {
  .projects__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
.projects__card--pink {
  border: 2px solid #3f1786;
  background-color: #b8557a;
  height: 32rem;
  width: 24rem;
  margin: 2.5rem;
  box-shadow: 8px 5px 20px #3f1786;
  display: flex;
  flex-direction: column;
}
.projects__card--blue {
  border: 2px solid #3f1786;
  background-color: #787bd1;
  height: 32rem;
  width: 24rem;
  margin: 2.5rem;
  box-shadow: 8px 5px 20px #3f1786;
  display: flex;
  flex-direction: column;
}
.projects__bottom-section {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.projects__info {
  padding: 0.5rem;
}
.projects__h2 {
  color: #f8d583;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.7rem;
  font-weight: 100;
}
.projects__h1 {
  color: #F9F9FC;
  font-family: "Bodoni Moda", serif;
  font-size: 2rem;
  font-weight: 800;
}
.projects__p {
  color: #F9F9FC;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  font-weight: 200;
}
.projects__links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 3rem;
  margin: 0rem 1rem;
  align-self: bottom;
}
.projects__a {
  font-family: "Source Sans Pro", sans-serif;
  color: #0d0e10;
  font-weight: 700;
  border: 2px solid #3f1786;
  padding: 7px 15px;
  background-color: #f8d583;
  font-size: 1.2rem;
  text-decoration: none;
  margin: 0.5rem;
  border-radius: 10px;
}
.projects__content {
  max-width: 100%;
  max-height: 234px;
  background-color: #f8d583;
}
.projects__img--adventure {
  max-width: 100%;
  aspect-ratio: auto;
}
.projects__img {
  max-width: 100%;
  aspect-ratio: auto;
}